.loginPage {
  background-image: url("../assets/images/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  overflow-y: auto;
  width: 100%;
  height:100%;
  padding: 1%;
}

.login-page-inner {
  top: 10%,
}

.custom-inputs {
  border: solid 0px;
  background-color: transparent;
  box-shadow:none;
  border-bottom: solid 2px $gray-darker;
  &.active {
    border-bottom: solid 2px $brand-primary;
  }
  padding-right: 8%;

}



.input-spacing {
  margin-bottom:15%;
}

.text-ctrl {
  color: $gray-darker;
  font-size: 12px;
}

.text-ctrl > label {
    font-weight: 700 !important;
}

.btn-size {
    height: 40px;
    width: 70% !important;
    margin-left: 15%;
    font-size: 12px;
    font-weight: bold;
}

.text-danger-pos {
    width: 70% !important;
    margin-left: 15%;
    font-size: 12px;
    font-weight: bold;
}

.panel-bg {
  background-color: rgba(255,255,255,0.8);
}

.toggle-button {
  width: 5%;
  display: inline-block;
  position: relative;
  margin-top:-22px;
  float:right;
  cursor: pointer;
}

.toggle-space {
  display:inline-block;
}

.login-message {
  text-align: center;
  color: $gray95;
  font-size:3vw;
  font-weight:bold;
  margin-top: -50px;
}

.login-message > h3 {
font-size:3vw;
}
