/**
 * --------------------------------------------------------------------------
 * UI BB User menu component
 * --------------------------------------------------------------------------
 * @name widget-bb-user-menu-ng
 * @description
 * UI component for rendering user menu
 *
 * @example
 * <div class="bb-user-menu">
 *  <ui-bb-avatar class="bb-avatar media img-circle img-thumbnail no-padding pull-left text-center">
 *    <span aria-hidden="true">JD</span>
 *  </ui-bb-avatar>
 *  <div class="text-right pull-left">
 *    <span class="center-block">Hi, <strong>John Doe</strong></span>
 *    <a title="Logout">Logout</a>
 *  </div>
 *  <div class="clearfix"></div>
 * </div>
 */



/**
 * Necessary changes for custom user menu
 */
$user-menu-tb-padding: 10px;

.bb-user-menu {
  margin-top: $margin-small-vertical;
  border-left: $default-border;
  border-right: $default-border;
  color: $gray80;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: $user-menu-tb-padding;
  padding-bottom: $user-menu-tb-padding;
  a {
    cursor: pointer;
  }
}

.faw-logout {
    font-size: 13px;
    border-left: $default-border;
    margin-left: 12px;
    padding: 10px 12px;
    line-height: inherit;
    vertical-align: middle;
    a {
       color: $white;
    }
}